@media (max-width: 375px) {
    body {
        background: url(../images/bg-mobile.svg) top center no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    .header {
        max-width: 375px;
        margin: 0 auto 0 0;
        padding: 0 20px;
        max-width: 375px;
    }

    .header .header-container img {
        padding: 20px 20px 29px;
        width: 150px;
    }

    .main {
        max-height: 540px;
        padding-left: 10px;
    }

    .main .main-container .painel {
        flex-direction: column;
        align-items: center;
    }

    .main .main-container .painel h1 {
        font-size: 22px;
        text-align: center;
        padding: 0 42px;
    }

    .main .main-container .painel p {
        font-size: 12px;
        text-align: center;
        padding: 0 40px;

    }

    .main .main-container .painel a {
        align-self: center;
    }

    .main .main-container .painel img {
        margin: 30px 30px 0 70px;
    }

    .footer .footer-container .redes-sociais {
        margin-right: 135px;
        margin-top: 50px;
    }
}